import React from 'react';
import PropTypes from 'prop-types';

/**
 *
 * {{ properCase name }}
 *
 */
const {{ properCase name }} = (props) => {
  return (
    <div>
      {{ properCase name }}
    </div>
  );
}

{{ properCase name }}.propTypes = {};

export default {{ properCase name }};
